/* theme color */
:root {
  --bs-body-bg: hsl(0, 0%, 98%);
  --bs-body-color: hsl(200, 15%, 8%);
  --bs-navbar-bg: hsl(0, 0%, 100%);

  --bs-shadow: rgba(212, 212, 212, 0.2);
}
[data-bs-theme='dark'] {
  --bs-body-bg: hsl(207, 26%, 17%);
  --bs-body-color: hsl(0, 0%, 100%);
  --bs-navbar-bg: hsl(209, 23%, 22%);
  --bs-shadow: rgba(43, 43, 43, 0.247);
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bs-body-bg);
  max-width: 2100px;
  min-width: 375px;
  margin: 0 auto;
  color: var(--bs-body-color);
  font-family: 'Poppins', serif;
  font-size: 14px;
}
#navbar {
  box-shadow: 0px 3px var(--bs-shadow);
  background-color: var(--bs-navbar-bg);
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
}
.dark-mode {
  width: 9rem;
  padding: 1rem;
  margin: 0 5rem;
}
.dark-mode-html {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}
.navbar-brand {
  font-weight: 800;
  padding-top: 1rem;
}
.search-select {
  display: grid;
  grid-template-columns: 6fr 2fr;
  width: 100%;
}
#search-country {
  background-color: var(--bs-navbar-bg);
  color: var(--bs-body-color);
  width: 50%;
  margin: 3rem 4rem;
  padding: 1rem;
  box-shadow: 0px 0px 2px 2px var(--bs-shadow);
  border: none;
}
#select-region {
  background-color: var(--bs-navbar-bg);
  color: var(--bs-body-color);
  margin: 3rem 0;
  width: 70%;
  padding: 0 1rem;
  box-shadow: 0px 0px 2px 2px var(--bs-shadow);
  border: none;
}
.card-title {
  font-size: 15px;
  font-weight: bold;
  padding: 1rem 0;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
.card-img-top {
  width: 100%;
  height: 30vh;
}
.card-body {
  color: var(--bs-body-color);
}
.card {
  background-color: var(--bs-navbar-bg);
  width: 17rem;
  margin: 0 1rem 2rem 1rem;
  padding: 0;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 2px 2px var(--bs-shadow);
}
.option {
  margin: 5rem;
  border: none;
}
@media only screen and (max-width: 1440px) {
  .container {
    margin: 0 auto;
  }
  .card {
    margin: 2rem 2rem;
  }
  .card-img-top {
    height: 45vh;
  }
  #navbar {
    width: 100%;
    grid-template-columns: 9fr 2fr;
  }
  .search-select {
    display: grid;
    grid-template-columns: 6fr 2fr;
    width: 100%;
  }
  #search-country {
    width: 50%;
    margin: 3rem 4rem;
    padding: 1rem;
  }
  #select-region {
    margin: 3rem 0;
    width: 70%;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 960px) {
  #navbar {
    width: 100%;
    grid-template-columns: 6fr 1fr;
  }
  .dark-mode {
    width: 9rem;
    padding: 1rem;
    margin: 0 5rem;
  }
  .container {
    margin: 0 auto;
    padding: 0 auto;
  }
  .card {
    margin: 1rem auto;
  }
  .card-img-top {
    width: 100%;
    height: 50vh;
  }
}

@media only screen and (max-width: 375px) {
  #navbar {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .navbar-brand {
    font-weight: 600;
    padding-top: 0.5rem;
    font-size: 14px;
    margin: 0 0;
  }
  .dark-mode {
    width: 8rem;
    font-size: 14px;
    padding: 1em;
    margin: 0 0.4rem;
  }
  .container {
    margin: 0 auto;
  }
  .card {
    margin: 1rem auto;
  }
  .card-img-top {
    width: 100%;
    height: 50vh;
  }
  .search-select {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  #search-country {
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
  }
  #select-region {
    margin: 1rem 3.5rem;
    width: 45%;
    padding: 1rem;
  }
}
